/*@import 'style2.css' only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait);*/

* {
	box-sizing: inherit;
}
html {
	font-size: 14px;
	font-family: 'Patrick Hand SC', cursive;
	font-family: 'Lobster', cursive;
	background-color: #F8E6E6;
	box-sizing: border-box;
	}
body {
	width: 600px;
	margin: 0 auto;
	background-color: #EB9F3C;
	padding: 0px 20px 20px 20px;
	border: 5px solid black;
	}
h1 	{
	    height: 1.5em;
	margin: 0;
	padding: 20px 0;
	color: #E10E11;
	text-shadow: 2px 2px 2px black;
	font-size: 60px;
	text-align: center;	
	animation: fontpulse 1s infinite;
	}
p 	{
	font-size: 26px;
	line-height: 2;
	letter-spacing: 1px;
	color: #9400D3;
	}
.image-container {
	width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    background: #fff;
	    /*background-image: url(../images/8rog.png);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;*/
}
.image-container::after {
	content: '';
}
.image-container::before {
	content: '';
}

img {
	transition: all 0.2s ease-in;
	}

input[type=checkbox]:checked + .image-container > img,
img:hover {
	/*box-shadow: 2px 2px 2px black;*/
	cursor: pointer;
	transform: rotate(45deg) scale(1.05);
}
ul {
	color: #3C3FEB; 
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;

	    padding: 0;
		border: 2px solid black;

		li {
			border: 1px solid black;
			list-style: none;
			padding: 0;
			border: 2px solid black;
			margin: 30px;
			display: block;

			&:first-child {
				background: black;
			}
		}

	}	

li:nth-child(even)
{
	color: red;
}



label[for="image-checkbox"] {
	height: 50px;
    width: 50px;
    background: red;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}
input#image-checkbox {
	display: none;
}


@keyframes fontpulse {
	0% {
		font-size: 2em;
	}
	50% {
		font-size: 3em;
	}
	100% {
		font-size: 2em;
	}
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
	body {
			background-color: green;
			width: 90%;
			margin: 5%;
		}
}